#navbar {
    position: sticky;
    z-index: +1;
    width: 100%;
    height: 50px;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 2vw;
}

#tag_name{
    margin-left: 3vw;
    font-size: 1.5rem;
    position: absolute;
    font-weight: bold;
}

#menu_icon{
    transition: 1s all ease;
    cursor: pointer;
    margin-right: 3vw;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

#texts_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#texts_nav{
    width: 100%;
    display: none;
    justify-content: center;
    user-select: none;
    gap: 1vw;
}

.link_container {
    cursor: pointer;
    transition: 0.3s all ease-in;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #290c63;
    border-width: 0;
}

.link_container:hover{
    font-size: 18px;
    background-color: #4c17b6;
    border-bottom: 5px solid #ffffff;
    border-width: 5px;

}

.menu_bar{
    width: 36px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.left_bar{
    transition: 1s all ease;

}

.right_bar{
    transition: 1s all ease;

}

.remove_bar{
    transition: 1s all ease;
    /* opacity: 0% */
}

.menu_options{
    background-color: rgb(207, 207, 207);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    gap: 30px;
    /* transform: translateY(-450px);  js defines this transform too */
    transition: 1s all ease;
}

.option{
    cursor: pointer;
    display: block;
    user-select: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    & a{
        cursor: pointer;
        color: black;
    }
}

.separation_bar{
    width: 100%;
    height: 1vh;
    background-color: rgb(185, 188, 190);
}

#menu_container{
    height: 25px;
}

#content_container{
    width: 100%;
}

#home_title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.home_subtitle{
    font-size: 20px;
    text-align: center;
}

#info_container{
    display: flex;
    justify-content: center;
}

#info{
    width: 70%;
    margin-top: 2vh;
    display: flex;
}

#image{
    /* object-fit: cover; */
    border-radius: 50%;
    max-width: 50vw;
    max-height: 50vh;
    min-width: 300px;
    min-height: 300px;
    width: auto;
    height: auto;
}

@media (min-width: 769px){
    #navbar{
        position: sticky;
        margin-bottom: 25px;
    }

    #menu_icon{
        display: none;
    }

    #texts_nav{
        display: flex;
        justify-content: end;
    }

    #menu_container{
        display: none;
    }
}