#top_space{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
}

#navbar {
    position: fixed;
    z-index: +1;
    width: 100%;
    height: 50px;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 2vw;
}

#tag_name{
    margin-left: 3vw;
    font-size: 1.5rem;
    position: absolute;
    font-weight: bold;
}

#menu_icon{
    transition: 1s all ease;
    cursor: pointer;
    margin-right: 3vw;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

#texts_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#texts_nav{
    width: 100%;
    display: none;
    justify-content: center;
    user-select: none;
    gap: 1vw;
}

.link_container {
    cursor: pointer;
    transition: 0.3s all ease-in;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #290c63;
    border-width: 0;
}

.link_container:hover{
    font-size: 18px;
    background-color: #4c17b6;
    border-bottom: 5px solid #ffffff;
    border-width: 5px;

}

.menu_bar{
    width: 36px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.left_bar{
    transition: 1s all ease;

}

.right_bar{
    transition: 1s all ease;

}

.remove_bar{
    transition: 1s all ease;
    /* opacity: 0% */
}

.menu_options{
    background-color: rgb(207, 207, 207);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    gap: 30px;
    /* transform: translateY(-450px);  js defines this transform too */
    transition: 1s all ease;
}

.option{
    cursor: pointer;
    display: block;
    user-select: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    & a{
        cursor: pointer;
        color: black;
    }
}

.separation_bar{
    width: 100%;
    height: 1vh;
    background-color: rgb(185, 188, 190);
}

#menu_container{
    height: 25px;
}

#content_container{
    width: 100%;
}

.section_title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.section_subtitle{
    font-size: 20px;
    text-align: center;
}

#info_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    width: 80%;
    background-color: #dfdfdf;
    border: 1px solid rgb(219, 219, 219);
    padding: 30px 30px;
    border-radius: 20px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image_container{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    min-width: 200px;
    min-height: 300px;
    max-width: 250px;
    max-height: 300px;
}

#image{
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    image-rendering: auto;
}

#about_me{
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    min-width: 200px;
    max-width: 400px;
}

#about_me p {
    text-align: justify;
    flex-wrap: wrap;
    width: 100%;
    font-size: clamp(1rem, 1vw, 1.2rem);
}

#contact_me{
    font-weight: 600;
    text-decoration: underline;
    color: var(--navbar-color);
    cursor: pointer;
}

.skill_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 125px;
    max-width: 150px;
    height: 150px;
    background-color: #c4c4c4;
    border-radius: 10%;
}

.skill_icon{
    border-radius: 20px;
    min-width: 115px;
    max-width: 120px;
}

#skills{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    row-gap: 5vh;
}

#projects{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    row-gap: 5vh;
}

.project_container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 310px;
    min-width: 220px;
    height: 200px;
    background-color: #d7d7d7;
    border-radius: 10px;
}

.project{
    display: flex;
    margin: 10px 15px 10px 15px;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.used_technologies{
    text-align: center;
    font-size: 18px;
}

.acess_repository{
    text-align: center;
    font-weight: bold;
    color: #290c63;
}

#contacts{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    align-items: center;
}

.contact_logo{
    max-width: 30px;
    max-height: 30px;
    height: 30px;
}

.contact_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-radius: ; */
    width: 85px;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: rgb(209, 209, 209);
    color: #4c17b6;
}

@media (min-width: 769px){
    #top_space{
        margin-bottom: 20px;
    }

    #navbar{
        /* position: sticky; */
        margin-bottom: 25px;
    }

    #menu_icon{
        display: none;
    }

    #texts_nav{
        display: flex;
        justify-content: end;
    }
    
    #menu_container{
        display: none;
    }

    #info_container{
        width: 100%;
    }
    
    #info{
        width: 70%;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #about_me{
        margin-left: 5vw;
        /* width: 23%; */
    }
    
    #about_me p {
        text-align: justify;
        flex-wrap: wrap;
        width: 100%;
        font-size: clamp(1.2rem, 1vw, 1.5rem);
    }
    
    #image_container{
        min-width: 200px;
        min-height: 300px;
        max-width: 350px;
        max-height: 400px;
    }

    #skills{
        grid-template-columns: auto auto auto auto;
    }

    .skill_container{
        min-width: 175px;
        min-height: 175px;
    }

    .skill_icon{
        border-radius: 20px;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }

    #projects{
        margin-top: 5vh;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        column-gap: 5vw;
        row-gap: 5vh;
    }

    .contact_logo{
        max-width: 30px;
        max-height: 30px;
        height: 30px;
    }

    .contact_link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1vw;
        align-items: center;
        width: 140px;
        font-size: 16px;
    }
}

