#navbar{
    width: 100%;
    height: 50px;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#tag_name{
    margin-left: 3vw;
    font-size: 1.5rem;
}

#menu_icon{
    cursor: pointer;
    margin-right: 3vw;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.menu_bar{
    width: 36px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

.left_bar{
    transition: 1s all ease;

}

.right_bar{
    transition: 1s all ease;

}

.remove_bar{
    transition: 1s all ease;
    /* opacity: 0% */
}

.menu_options{
    background-color: rgb(207, 207, 207);
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 350px;
    gap: 30px;
    transform: translateY(-450px); /* js defines this transform too */
    transition: 1s all ease;
    
    & li{
        cursor: pointer;
        display: block;
    }
}

.option{
    user-select: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    
}

.separation_bar{
    width: 100vw;
    height: 1vh;
    background-color: rgb(185, 188, 190);
}